<!DOCTYPE html>
<html lang="En">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ProfiDrone.sk</title>
 <link rel="stylesheet" href="/static/style.css">
 <link rel="stylesheet" href="/static/index.css">

 


  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/bd270e71b4.js" crossorigin="anonymous"></script>

</head>

<body>
  <header class="header-bg">
    
    <div class="top-left">
      <div class="language-dropdown" onclick="toggleDropdown()">
        <button class="btn language-btn">
          <i class="fas fa-globe"></i> EN
        </button>
        <div class="dropdown-content" id="language-menu">
        <a href="{{ url_for('index') }}">English</a>
        <a href="{{ url_for('lobby_sk') }}">Slovak</a>
        <a href="{{ url_for('lobby_nl') }}">Dutch</a>
        </div>

      </div>
    </div>
    <div class="top-right">
      <button id="login-button" class="btn">Log In</button>
      <div id="welcome-user" style="display:none; color:#fff;">Welcome, User!</div>
    </div>
    
    <div class="header-content">
      <h1 class="site-title">ProfiDrone</h1>
      
      <nav class="center-buttons">
    <a href="{{ url_for('servicePage') }}">
        <button class="btn btn-large">Service</button>
    </a>

    <a href="{{ url_for('farmersPage') }}">
        <button class="btn btn-large">Farmers</button>
    </a>

    <a href="{{ url_for('contactPage') }}">
        <button class="btn btn-large">Contact</button>
    </a>
</nav>


    </div>
  </header>

  <main>
    <section class="product-section" aria-label="Produkt">
      <div class="product-container">
        <div class="product-image">
          <h2><strong>DJI AGRAS T50: The Revolution in Precision Agriculture</strong></h2>
          <img src="../static/image/picture 1.jpg" alt="DJI AGRAS T50" />
        </div>
        <div class="product-text">
          <div class="product-text">
            <br/>

            <p>
              Meet the next generation of high-performance drones designed for maximum efficiency and precision. 
              The DJI Agras T50 is a prof\essional agricultural drone built to cover vast areas with unmatched speed and accuracy.
            </p>
            <br/>
            <h3>Key Application Areas:</h3>
            <br/>
            <ul class="benefits-clean">
              <li><strong>High Capacity & Flow Rate:</strong> Spraying (40 kg / 16 L/min, up to 24 L/min with optional nozzles) 
                and Spreading (50 kg / 75 L).</li>

              <li><strong>Maximum Efficiency:</strong> Spray up to <strong>21 hectares per hour.</strong></li>

              <li><strong>Precise Application:</strong> Dual Atomizing Spraying System and support for 
                <em> Rate Application (VRA)</em> to optimize material usage.</li>

              <li><strong>Versatility:</strong> Modes for fields, orchards (Orchard Mode),
                and undulating terrain (Terrain Following up to 50° slope).</li>

              <li><strong>Safety:</strong> Multidirectional Obstacle Sensing via radar and binocular vision systems.</li>
              <a href="Service.html"><button><strong>Read more <br/> Press me</strong></button></a>
            </ul> 
          </div>
        </div>
      </div>
    </section>

    <section class="product-section" aria-label="Produkt">
      <div class="product-container">
        <div class="product-image">
          <h2><strong>DJI MATRICE 30 SERIES: Compact Power for Enterprise Missions</strong></h2>
          <img src="../static/image/preco.png" alt="DJI AGRAS T50" />
        </div>
        <div class="product-text">
          <div class="product-text">
            <br/>

            <p>
              The DJI M30/M30T is a versatile, all-weather enterprise drone, essential for critical operations where 
              reliability and advanced sensor technology are paramount.
            </p>
            <br/>
            <h3>Key Application Areas:</h3>
            <br/>
            <ul class="benefits-clean">
              <li><strong>Public Safety & SAR (M30T):</strong> Rapid deployment for Search and Rescue (SAR) missions using an integrated
                Thermal Camera to locate heat signatures day or night.
                Critical support for fire services and law enforcement with real-time situational awareness.</li>

              <li><strong>Infrastructure Inspections:</strong> Safe and detailed checks of critical assets. Use the 48 MP Zoom Camera for
                close-up inspection of 
                power lines, wind turbines, bridges, and solar panels, identifying issues like overheating or damage.</li>

              <li><strong>Mapping & Monitoring:</strong> Accurate data collection for 3D modelling and site monitoring
                using its high-resolution camera and Laser Range Finder (up to 1200m).</li>

              <li><strong>Designed for Extremes:</strong> With an IP55 rating and operational range
                from -20 °C to 50 °C, the M30 Series delivers performance when it matters most.</li>
              <a href="Service.html"><button><strong>Read more <br/> Press me</strong></button></a>
            </ul> 
          </div>
        </div>
      </div>
    </section>

    <section class="product-section" aria-label="Produkt">
      <div class="product-container">
        <div class="product-image">
          <h2><strong>DJI DOCK 3: Automated, All-Weather Drone Operations</strong></h2>
          <img src="../static/image/auto.jpg" alt="DJI AGRAS T50" />
        </div>
        <div class="product-text">
          <div class="product-text">
            <br/>

            <p>
              The DJI Dock 3 is the ultimate automated hangar and charging station, transforming enterprise operations with 24/7 remote drone deployment. With its IP56 weather resistance 
              and wide temperature range -30C to 50C, it is ready for any environment.
            </p>
            <br/>
            <h3>Core Applications:</h3>
            <br/>
            <ul class="benefits-clean">
              <li><strong>Public Safety:</strong> Rapid deployment for Search & 
                Rescue (SAR) and real-time disaster monitoring.</li>

              <li><strong>Infrastructure Inspection:</strong> Autonomous, repeatable checks of power lines, solar 
                farms, telecom towers, and pipelines (including thermal surveys with the M4TD).</li>

              <li><strong>Construction & Mapping:</strong> Automated site progress monitoring and data collection
                for accurate 3D modelling.</li>

              <li><strong>Security & Surveillance:</strong>Perimeter protection and intelligent detection of moving subjects day and night. </li>

              <li> Key Advantage: For the first time, the Dock 3 supports Vehicle-Mounted Deployment, 
                enabling quick relocation and on-demand inspections over 
                long distances. Launch within 15 seconds and manage everything remotely via DJI FlightHub 2.</li>
              <a href="Service.html"><button><strong>Read more <br/> Press me</strong></button></a>
            </ul> 
          </div>
        </div>
      </div>
    </section>

    <section class="contact-cta">
      <div class="contact-container">
        <h3>If you are interested, ask us!</h3>
        <p>
          Contact us for specific inquiries about custom projects, pricing, or specialized needs.
        </p>
        <a href="Contact.html" class="contact-btn">Contact Us</a>

        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61573863213235&locale=sk_SK" 
            target="_blank" title="Facebook">
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          <a href="#" title="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" title="YouTube">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>

        <div class="author">
          Author: Daniel Novak. © 2025 ProfiDrone.sk. All rights reserved.
        </div>
      </div>
    </section>

  </main>



  <script>
    
    // === NOVÉ: Funkcia na prepínanie rozbaľovacej ponuky jazykov ===
    function toggleDropdown() {
      document.getElementById("language-menu").classList.toggle("show");
    }

    // NOVÉ: Zatvoriť ponuku, ak používateľ klikne kdekoľvek mimo tlačidla a menu
    window.onclick = function(event) {
      if (!event.target.matches('.language-btn') && !event.target.closest('.language-dropdown')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (let i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    // === KONIEC NOVÉHO JS ===

    document.addEventListener('DOMContentLoaded', function () {
      const isLoggedIn = localStorage.getItem('loggedIn');
      const loginButton = document.getElementById('login-button');
      const welcome = document.getElementById('welcome-user');
      if (isLoggedIn === 'true') {
        loginButton.style.display = 'none';
        welcome.style.display = 'block';
      } else {
        loginButton.style.display = 'inline-block';
        welcome.style.display = 'none';
      }
      loginButton.addEventListener('click', function () {
        localStorage.setItem('loggedIn', 'true');
        loginButton.style.display = 'none';
        welcome.style.display = 'block';
      });
    });
  </script>
</body>
</html>