<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://kit.fontawesome.com/bd270e71b4.js" crossorigin="anonymous"></script>
  <title>Contact - ProfiDrone.sk</title>
  <link rel="stylesheet" href="/static/contac.css">

  <!-- Tailwind (ak ju používaš) -->
  <script src="https://cdn.tailwindcss.com"></script>

  
</head>

<body>
  <!-- HLAVIČKA -->
  <header>
    <h1>Contact</h1>
    <div class="center-buttons">
      <a href="{{ url_for('lobby_nl') }}" title="Home ProfiDrone.sk">
        <button type="button">Home</button>
      </a>
      <a href="{{ url_for('service_nl') }}" title="Service ProfiDrone.sk">
        <button type="button">Service</button>
      </a>
      <a href="{{ url_for('Farmers_nl') }}" title="Farmers ProfiDrone.sk">
        <button type="button">Boeren</button>
      </a>
    </div>
    
  </header>

  <!-- FORMULÁR -->
  <main>
    <form class="contact-form" action="https://getform.io/f/bvrmnkqb" method="POST">
      <h2>Schrijf ons</h2>

      <label for="name">Naam:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Bericht:</label>
      <textarea id="message" name="message" rows="6" required></textarea>

      <input type="hidden" name="_gotcha" style="display:none !important" /> 

      <button type="submit" class="submit-button">Verstuur</button>
    </form>
  </main>

  <!-- IKONY A AUTOR -->
  <section class="py-16 bg-gray-100">
    <div class="icone">
      <a href="https://www.facebook.com/profile.php?id=61573863213235&locale=sk_SK" target="_blank" title="Facebook">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>

    <span class="author">
     Auteur: Daniel Novák.<br>
    &copy; 2025 ProfiDrone.sk. Alle rechten voorbehouden.<br>
    </span>
  </section>
</body>
</html>

